<div class="modal-backdrop">
  <div class="modal-box">
    <h3>{{ user.id ? 'Edit User' : 'Add User' }}</h3>

    <!-- Template-driven form -->
    <form #userForm="ngForm" (ngSubmit)="onSave()" novalidate>

      <label>First Name</label>
      <input type="text" name="firstName" [(ngModel)]="user.firstName" required #firstName="ngModel">
      <div class="error" *ngIf="firstName.invalid && firstName.touched">
        First Name is required
      </div>

      <label>Last Name</label>
      <input type="text" name="lastName" [(ngModel)]="user.lastName" required #lastName="ngModel">
      <div class="error" *ngIf="lastName.invalid && lastName.touched">
        Last Name is required
      </div>

      <label>Email</label>
      <input type="email" name="email" [(ngModel)]="user.email" required email #email="ngModel">
      <div class="error" *ngIf="email.invalid && email.touched">
        <span *ngIf="email.errors?.['required']">Email is required</span>
        <span *ngIf="email.errors?.['email']">Enter a valid email</span>
      </div>

      <!--<label>Role</label>
  <select name="role" [(ngModel)]="user().role" required #role="ngModel">
    <option value="">Select role</option>
    <option value="Admin">Admin</option>
    <option value="User">User</option>
    <option value="Manager">Manager</option>
    <option value="Guest">Guest</option>
  </select>-->
      <label>Role</label>
      <select name="role" [(ngModel)]="user.role" required #role="ngModel">
        <option value="">Select role</option>
        <option *ngFor="let r of roles" value="{{r}}">{{r}}</option>
      </select>
      <div class="error" *ngIf="role.invalid && role.touched">
        Role is required
      </div>

      <div class="modal-actions">
        <button type="submit" [disabled]="userForm.invalid">Save</button>
        <button type="button" class="cancel-btn" (click)="onCancel()">Cancel</button>
      </div>

    </form>
  </div>
</div>
