ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 12px 20px;
}

a {
  color: white;
  text-decoration: none;
  display: block;
}

  a:hover {
    background-color: #374151;
    border-radius: 5px;
  }
